
@{
    ViewBag.Title = "addMenu";
    Layout = null;
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
@model preproject2MVC.Models.product
    
<h2>Add Menu</h2>

<form action="/AddMenu/AddMenuProuct" enctype="multipart/form-data" method="post">

    <p>เลือกรูปภาพ</p>
    <input type="file" name="file" id="file" />

    <input name="name" type="text" placeholder="ชื่อสินค้า"/>
            
    <input name="detail" type="text" placeholder="รายละเอียดสินค้า"/>

    <input name="retail" type="text" placeholder="ราคาปลีก" />

    <input name="wholesale" type="text" placeholder="ราคาส่ง" />

    <input name="agent_price" type="text" placeholder="ราคาตัวแทนจำหน่าย" />

    <input name="status" type="text" placeholder="สถานะสินค้า"/>

    <input type="submit" name="Submit" id="Submit" value="ADD" />

</form>

        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Menu", ("Menu"))'">BACK</button>
