
@{
    ViewBag.Title = "Order";
   
}


<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
    <!--------------------------------------------tapbar------------------------------------------------------------------>
 

    <!--------------------------------------------checkbox------------------------------------------------------------------>
    <div class="container">

        <form>
            <label class="checkbox-inline">
                <input type="checkbox" value="">ที่ยังไม่โอน
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">ที่โอนแล้ว
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">ที่ต้องทำการจัดส่ง
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" value="">ที่จัดส่งแล้ว
            </label>

            
        </form>
    </div>
            <!--------------------------------------------table------------------------------------------------------------------>

    <div class="container">
        <table id="customers">
            <tr>
                <th>วัน/เดือน/ปี</th>
                <th>รหัสออเดอร์ออเดอร์</th>
                <th>สถานที่จัดส่ง</th>
                <th>สถานะออร์เดอร์</th>
            </tr>
        @foreach (var col in ViewBag.query)
        {
            
            <tr>
                <td>@col.o_date</td>
                <td>
                    @col.o_id
                </td>
                <td>@col.o_address</td>
                <td>
                    <select>
                        <!--dropdown-->

                        <option value="0">ยังไม่โอน</option>
                        <option value="1">โอนแล้ว</option>
                        <option value="2">กำลังจัดส่ง</option>
                        <option value="3">จัดส่งแล้ว</option>
                    </select>

                    <button type="button" class="btn btn-success">SAVE</button>
                    <button type="button" class="btn btn-primary">ข้อมูลเพิ่มเติม</button>
            </tr>
        }
        </table>

    </div>
    
</body>
</html>
